.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.this {

  margin:30;
  height: 10000;
  width:30;
}

.mr-auto{
  position: relative;
  left: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: white;
}

.mr-auto .tab {
  margin-right: 20px;
}

.navColour{
  /* background-color: firebrick; */
  background-color: firebrick;
}

.navColour .tle{
  /* font-size: x-large; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  padding: 1%;
}

.logo-title{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  padding: 1%;
}

.Navbar img{
  margin-right: 10px;
  margin-bottom: 5px;
}

.Navbar{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  
}

.view-bto-button{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-title{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 45px;
  padding-top: 30px;
  margin-bottom: 30px;



}


.page-title img{
  height:100px;

}

/* .main{
  background-color: white !important;
  background: url("./Images/undraw_choosing_house_v37h.svg") bottom;
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: right;
  background-position-y: 100%;
  background-position-x: 85%;
} */




.sub-title{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: -20px;

}

.bto-name{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px !important;
}

.bto-text{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
}

.bto-card{
  border: none;
}




.carousel-caption p {
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
  font-size:      1em;
  color:          black;
  }

.carousel-caption .btn{
  scroll-behavior: smooth; 
}

/* .carousel-caption #grantCaption {
  color: black;
  background-color: rgba(236, 236, 236, 0.5)
} */

/* #locationBody{
  padding-top: 70px;
} */

#searchBar{
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 35px;
}

#mapplace{
  width: 70vw;
  height: 50vh;
  margin: auto;
  
  
}

#locationInstructions{
  text-align: center;
  background-color: #dddddd;
  
  
}

#mapTable {
  /* padding: 30px; */
  margin: auto;
  width: 70vw;
  min-height: 50vh;
  
}

#map{
  padding-top: 30px;
}

#BTOCaption{
    float: left;
    transform: translateX(-35%);
    margin-left: 5%;
    margin-bottom: 15%;
}


#formGroup{
  justify-content: center;
}
#compareBto{
  background-color: #eeeeee !important;
}

#BTOButton{
  text-align: center;
  padding-bottom: 20px;
  background-color: #eeeeee !important;

}

#addButton{
  text-align: center;
  border:none;
  color: firebrick;

}

:root {
  --mainDark: #343a40;
  --mainGrey: rgba(109,109,109);
  --mainLightGrey:rgba(172,172,172);
  --mainWhite:#fff;
  --mainBlue:#007bff;
  --mainRed:firebrick;
}


#login{
  background-color:white;
  text-align: center;
  padding-top: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#simple-tab-1{
  background-color:firebrick;
}
#simple-tab-0{
  background-color: firebrick;
}



#loginButton{
  margin:30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: firebrick;
}

#logButton{
  color: azure;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#register{
  background-color: white;
  text-align: center;
  padding-top: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#registerButton{
  margin:30px;
  background-color: firebrick;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#lari{
  
  transform: translateX(500%);
  color: lightcyan;
  transform: translateY(-83%);
  background-color: firebrick;
}

#section2{
  min-height:60vh;
  /* padding-bottom: 20%; */
}


.page-title{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: bold;
  font-weight: 400;
  padding-top:2em;
  color:black;
}

.page-title-2{
  font-family: "Verdana";
  font-style: normal;
  padding-bottom:2em;
  font-size:16px;

}

#cardimage{
  height:10em;
}

#cardtitle{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: bold;
}


#grantForm{
  padding-top: 50px;
  margin: auto;
  width: 80vw;
}

#formContent{
  padding: 50px;
}

#formButton{
  text-align: center;
  margin: 30px;
}

#grantTitle{
  text-align: center;
  margin: 20px;
}

#grantButton{
  /* background-color: white; */
  /* opacity:0.8; */
  font-family: "arial";
  padding: 15px;
  width:400;
  border-radius: 12px;
}


#locationButton{
  /* background-color: white; */
  /* opacity:0.8; */
  font-family: "arial";
  padding: 15px;
  width:400;
  border-radius: 12px;

}

#locationInstructions
{
  background-color: white !important;
  background: url("./Images/undraw_my_location_f9pr.svg") bottom;
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: right;
  background-position-y: 100%;
  background-position-x: 90%;
  
}

#grantlogo{


  background: url("./Images/undraw_wallet_aym5.svg") bottom;
  background-repeat: no-repeat;
 

}


#BTOCaption{
   /* background-color: white; */
  /* opacity:0.8; */
  font-family: "arial";
  padding: 15px;
  width:400; 
  border-radius: 12px;
}

#grantCaption{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#flexRow{
  background-color:red;
}

.landscape{
  margin-top: -50px;
}

