.flexRowDiv {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.flexRowBTO {
  height: 90vh;
  width: 75vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


:root {
  --mainDark: #343a40;
  --mainGrey: rgba(109,109,109);
  --mainLightGrey:rgba(172,172,172);
  --mainWhite:#fff;
  --mainBlue:#007bff;
  --mainRed:firebrick;
}

.main-footer{
  color:white;
  position:relative;
  padding-top:3em;
  bottom:0;
  width:100%;
}

.container{
  padding-bottom:60px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.page-container{
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.content-wrap{
  flex:1;
}

