.flexRowDiv {
  height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.flexRowBTO {
  height: 800px;
  width: 2000px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
